<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kefu.admin.mapper.FaqMapper">
  <resultMap id="BaseResultMap" type="com.kefu.admin.entity.Faq">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>

  <resultMap id="ExtFaqResultMap" type="com.kefu.admin.entity.Faq" extends="BaseResultMap">
    <association property="user" column="user_id" select="com.kefu.admin.mapper.UserMapper.selectById" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@sql select -->
    id, user_id, team_id, title, content, sort, created_at, updated_at
    <!--@sql from tb_faq-->
  </sql>

  <select id="selectPageList" resultMap="ExtFaqResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_faq
    <where>
      <if test="title != null and title != ''">
        title like concat('%', #{title,jdbcType=VARCHAR}, '%')
      </if>
    </where>
  </select>

</mapper>
